:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.product-card {
  border: 1px solid var(--bs-border-color);  /* se adapta al tema */
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bs-body-bg);       /* color del fondo según el tema */
  color: var(--bs-body-color);               /* color del texto según el tema */
  box-sizing: border-box;
}

.product-card:hover {
  border-color: var(--bs-emphasis-color);    /* color más fuerte según el tema */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transform: translateY(-3px);
  z-index: 1;
}

.product-image {
  width: 100%;
  height: 250px;
  object-fit: cover;   /* Cambiado para que NO deje bordes */
  padding: 0;          /* Quité padding para evitar espacios */
  border-radius: 8px 8px 0 0;
}


/* Enlaces: se adaptan al tema */
a {
  color: black;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #007bff; /* azul en hover */
}

/* === MODO OSCURO === */
body[data-bs-theme="dark"] a {
  color: #fff; /* enlaces blancos */
}

body[data-bs-theme="dark"] a:hover {
  color: #0d6efd; /* azul Bootstrap estándar al pasar el cursor */
}


.rating span {
  color: #ffc000;
}

img.large {
  max-width: 100%;
}

img.thumbail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
border-bottom: 0.2rem solid #a0a0a0;
color: #a0a0a0;
}
 
.checkout-steps > div.active {
border-bottom: 0.2rem solid #0070f0;
color: #0070f0;
}
